body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #172c53 0%,#172c53 100%);
    }


.container {
    text-decoration: none;
    color: white;
    text-align: left;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #6a6a6a 0%,#2b2b2b 0%,#757575 0%,#666666 0%,#808080 0%,#505050 0%,#393939 0%,#434343 100%,#4f4f4f 100%,#3b3b3b 100%,#4f4f4f 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

input[type="text"] {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
}


.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    }

.btn:hover {
    background-color: #0069d9;
    }

#title-text {
    text-align: center;
    color: #2a9a9f;
    font-size: 3vw;
    }

.title-text2 {
    text-align: center;
    color: yellow;
    }