<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ криптобиржи</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/stile_cripta.css') }}"/>
<!--    <style>-->
<!--        body { font-family: Arial, sans-serif; margin: 40px; }-->
<!--        .container { max-width: 900px; margin: auto; }-->
<!--        img { width: 100%; }-->
<!--    </style>-->
</head>
<body>
<div class="container">
<!--    <h1>АНАЛИЗ КРИПТОБИРЖИ</h1>-->
<!--    <h2>Стоимость</h2>-->
    <ul>
        <h1>АНАЛИЗ КРИПТОБИРЖИ</h1>
        <h2>Стоимость</h2>
        {% for symbol, price in prices.items() %}
            <p>{{ symbol }}: ${{ price }}</p>
        {% endfor %}
    </ul>
    <div class="wrapper">
        <form method="post">
<!--            <h2>График</h2>-->
            <div class="input-box">
                <ul>
                    <h2>График</h2>
                    <input type="text" placeholder="Введи, например BTC-USD" autocomplete="off" name="content" required>
                    <button type="submit" class="btn">Получить график</button>
                </ul>
            </div>
        </form>
    </div>
    <div class="articles-container">
        <ul>
            <h2>Новости</h2>
            {% for article in news %}
                <ol><a href="{{ article.link }}" style="text-decoration: none;">{{ article.title }}</a></ol>
    <!--            <ol><a href="{{ article.link }}">{{ article.title }}</a> (Sentiment: {{ article.sentiment }})</ol>-->
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>