<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анализ криптобиржи</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stile_cripta.css') }}"/>

</head>
<body>
<div class="container">
    <h1 id="title-text">АНАЛИЗ КРИПТОБИРЖИ</h1>
    <div class="articles-container">
        <ul>
            <h2 class="title-text2">Новости</h2>
            {% for article in news %}
                <ol>
                    <a style="text-decoration: none; color: white;">{{ article }}<br></a><br>
                </ol>
            {% endfor %}
        </ul>
    </div>

    <div class="answer">
        <h2 class="title-text2">Ответ чата GPT</h2>
        <a style="text-decoration: none; color: white;">{{ gpt_answer }}</a>
    </div>


    <ul>
        <h2 class="title-text2">Стоимость криптовалют</h2>
        {% for symbol, price in prices.items() %}
            <p>{{ symbol }}: ${{ price }}</p>
        {% endfor %}
    </ul>
    <div class="wrapper">
        <form method="post">
<!--            <h2>График</h2>-->
            <div class="input-box">
                <ul>
                    <h2 class="title-text2">График</h2>
                    <input type="text" placeholder="Введи, например BTC-USD" autocomplete="off" name="content" required>
                    <button type="submit" class="btn">Получить график</button>
                </ul>
            </div>
        </form>
    </div>

</div>
</body>
</html>