<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/stile_register_and_login.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <form action="" method="post">
            <h1>Регистрация</h1>
            <div class="input-box">
                <input type="text" placeholder="Логин" autocomplete="off" name="login" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Почта" autocomplete="off" name="email" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Пароль" autocomplete="off" name="password" required>
            </div>
            <button type="submit" class="btn">Зарегистрироваться</button>
            <div class="register-link">
                <p>Есть аккаунт?<a href="/login"> Войти</a></p>
            </div>
        </form>
    </div>
</body>
</html>